@model webOdevi.Models.randevular

@{
    ViewData["Title"] = "Randevu Al";
}
<br />
<br />
<br />
<h2>Randevu Al</h2>
<br />

<br />

<form asp-controller="randevular"  asp-action="randevular" method="post">
    <div class="form-group">
        <label for="hizmetid">Hizmet</label>
        <select asp-for="hizmetid" asp-items="ViewBag.Services" class="form-control"></select>
        <input type="hidden" asp-for="hizmetid" />
    </div>

    <div class="form-group">
        <label for="personalid">Personel</label>
        <select asp-for="personelid" asp-items="ViewBag.Personel" class="form-control"></select>
        <input type="hidden" asp-for="personelid" />
    </div>

    <div class="form-group">
        <label for="randevutarihi">Randevu Tarihi</label>
        <input type="date" asp-for="randevutarihi" class="form-control" />
    </div>

    <div class="form-group">
        <label for="baslangicsaati">Başlangıç Saati</label>
        <input type="time" asp-for="baslangicsaati" class="form-control" />
    </div>



    <div class="form-group">
        <label for="durum">Durum</label>
        <input type="text" asp-for="durum" class="form-control" placeholder="Bekliyor" readonly />
    </div>

    <button type="submit" class="btn btn-primary">Randevu Al</button>
</form>
