@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}
<body class="login-body">
<div class="container text-center">
    <br />
    <br />
    <br />
    <h1 class="my-4" style=" color:#ff4990">Admin Panel</h1>
    
</div>
</body>