    <!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="/img/about-front.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <br />
                <br />
                <h3>Lunaris güzellik merkezimizde müşteri memnuniyeti ve estetik güzellik odaklı hizmet sunuyoruz.</h3>
                <p class="fst-italic">
                    Modern ekipmanlarımız ve profesyonel kadromuz ile saç kesiminden cilt bakımı ve kişisel stil danışmanlığına kadar geniş bir yelpazede hizmet vermekteyiz.Müşterilerimize kaliteli, samimi ve kişiye özel hizmet sunmayı amaçlıyoruz. Her bireyin özgünlüğünü ve kişisel stilini yansıttığı bir deneyim sunarak, sektörde lider olmayı hedefliyoruz.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Saç Kesim ve Modelleme</li>
                    <li><i class="bi bi-check-circle"></i> Cilt Bakımı ve Güzellik Hizmetleri</li>
                    <li><i class="bi bi-check-circle"></i> Makyaj ve Stil Danışmanlığı</li>
                    <li><i class="bi bi-check-circle"></i> Manikür, Pedikür ve Tırnak Tasarım</li>
                </ul>
                <p>
                    Lunaris olarak, müşterilerimizin beklentilerini karşılayan, yenilikçi ve kaliteli hizmetler sunmak için sürekli kendimizi geliştiriyoruz.

                    Sizleri de güzellik yolculuğumuza davet ediyoruz!
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Neden Biz</h2>
            <p>Bizi Seçmelisiniz Çünkü</p>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                    <span>01</span>
                    <h4>Profesyonel ve Deneyimli Kadro:</h4>
                    <p>Güzellik merkezimiz, alanında uzmanlaşmış, eğitimli ve sürekli gelişen bir ekip ile hizmet vermektedir. Her bir müşteri için özelleştirilmiş, yüksek kaliteli ve güvenilir hizmet sunarız.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="200">
                    <span>02</span>
                    <h4>Son Teknoloji ve Yenilikçi Hizmetler: </h4>
                    <p>Modern ekipmanlarımız ve en son güzellik trendlerini takip eden tekniklerimizle, en iyi sonuçları sunmayı garanti ediyoruz. Her hizmetimizde yenilikçi çözümler sunarak, müşterilerimize memnuniyet dolu bir deneyim yaşatıyoruz.</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="300">
                    <span>03</span>
                    <h4>Konforlu ve Samimi Atmosfer:</h4>
                    <p>Güzellik merkezimiz, rahatlatıcı ve sıcak bir ortam sunar. Müşteri memnuniyeti odaklı yaklaşımımız sayesinde her ziyaretinizde kendinizi değerli ve özel hissedeceğinizden emin olabilirsiniz</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Why Us Section -->
