@if (Model != null && !string.IsNullOrEmpty(Model.output_url))
{
    <img src="@Model.output_url" alt="Modified Image" />
}
else
{
    <p>No image available.</p>
}

@model webOdevi.Models.PhotoUploadModel

<br />
<br />
<br />
<br />
<br />
<form asp-action="ModifyPhoto" method="post" enctype="multipart/form-data">
    <input type="file" name="Photo" />
    <button type="submit">Yükle ve Dönüştür</button>
    @if (!string.IsNullOrEmpty(Model.output_url))
    {
        <img src="@Model.output_url" alt="Değiştirilmiş Fotoğraf" />
    }
</form>
