@{
    ViewBag.Title = "Görüntü İşleme";
}

<div class="login-body d-flex flex-column align-items-center">
    <br />
    <h2 style="color:#ff4990">PhotoAI</h2>
    <p>Kararsız mı kaldınız?</p>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }

    <form asp-controller="Image" asp-action="Foto" method="post" enctype="multipart/form-data" class="w-100">
        <div class="form-group">
            <label for="uploadedImage">Fotoğraf Yükle</label>
            <input type="file" class="form-control" id="uploadedImage" name="uploadedImage" required />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Gönder</button>
    </form>

    @if (ViewBag.ProcessedImagePath != null)
    {
        <h3 class="mt-3">İşlenmiş Görüntü:</h3>
        <img src="@ViewBag.ProcessedImagePath" alt="İşlenmiş Görüntü" class="img-fluid mt-3 w-auto" style="max-width: 500px;" />

        <h3 class="mt-3">Saç Önerileri:</h3>
        <ul class="suggestions-list mt-3">
            @foreach (var suggestion in ViewBag.HairSuggestions)
            {
                <li class="suggestion-item">@suggestion</li>
            }
        </ul>
    }
</div>