@{
    ViewData["Title"] = "Home Page";
}

 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>LUNARIS</span></h1>
          <h2>Güzelliğinize güzellik katıyoruz</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Hizmetlerimiz</a>
            <a href="#gallery" class="btn-book animated fadeInUp scrollto">Galeri</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="about-img">
                        <img src="/img/about-front.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <br />
                    <br />
                    <h3>Lunaris güzellik merkezimizde müşteri memnuniyeti ve estetik güzellik odaklı hizmet sunuyoruz.</h3>
                    <p class="fst-italic">
                        Modern ekipmanlarımız ve profesyonel kadromuz ile saç kesiminden cilt bakımı ve kişisel stil danışmanlığına kadar geniş bir yelpazede hizmet vermekteyiz.Müşterilerimize kaliteli, samimi ve kişiye özel hizmet sunmayı amaçlıyoruz. Her bireyin özgünlüğünü ve kişisel stilini yansıttığı bir deneyim sunarak, sektörde lider olmayı hedefliyoruz.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Saç Kesim ve Modelleme</li>
                        <li><i class="bi bi-check-circle"></i> Cilt Bakımı ve Güzellik Hizmetleri</li>
                        <li><i class="bi bi-check-circle"></i> Makyaj ve Stil Danışmanlığı</li>
                        <li><i class="bi bi-check-circle"></i> Manikür, Pedikür ve Tırnak Tasarım</li>
                    </ul>
                    <p>
                        Lunaris olarak, müşterilerimizin beklentilerini karşılayan, yenilikçi ve kaliteli hizmetler sunmak için sürekli kendimizi geliştiriyoruz.

                        Sizleri de güzellik yolculuğumuza davet ediyoruz!
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Neden Biz</h2>
          <p>Bizi Seçmelisiniz Çünkü</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
                        <h4>Profesyonel ve Deneyimli Kadro:</h4>
                        <p>Güzellik merkezimiz, alanında uzmanlaşmış, eğitimli ve sürekli gelişen bir ekip ile hizmet vermektedir. Her bir müşteri için özelleştirilmiş, yüksek kaliteli ve güvenilir hizmet sunarız.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
                        <h4>Son Teknoloji ve Yenilikçi Hizmetler: </h4>
                        <p>Modern ekipmanlarımız ve en son güzellik trendlerini takip eden tekniklerimizle, en iyi sonuçları sunmayı garanti ediyoruz. Her hizmetimizde yenilikçi çözümler sunarak, müşterilerimize memnuniyet dolu bir deneyim yaşatıyoruz.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
                        <h4>Konforlu ve Samimi Atmosfer:</h4>
                        <p>Güzellik merkezimiz, rahatlatıcı ve sıcak bir ortam sunar. Müşteri memnuniyeti odaklı yaklaşımımız sayesinde her ziyaretinizde kendinizi değerli ve özel hissedeceğinizden emin olabilirsiniz</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Hizmetlerimiz</h2>
          <p>Hizmetlerimiz</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-sac">Saç Hizmetleri</li>
              <li data-filter=".filter-bakim">Bakım Hizmetleri</li>
              <li data-filter=".filter-makyaj">Makyaj ve Kaş-Kirpik Hizmetleri</li>
            </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item filter-sac">
            <img src="/img/menu/gunluksac.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Günlük Saç Şekillendirme</a><span>500TL</span>
            </div>
            <div class="menu-ingredients">
              <!--yazı-->
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-sac">
            <img src="/img/menu/balyaj.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Balyaj</a><span>3000TL</span>
            </div>
            <div class="menu-ingredients">
              
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-sac">
            <img src="/img/menu/brushlight.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Brushlight</a><span>2800TL</span>
            </div>
            <div class="menu-ingredients">

            </div>
          </div>

          <div class="col-lg-6 menu-item filter-bakim">
            <img src="/img/menu/cilt.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Maske</a><span>800TL</span>
            </div>
            <div class="menu-ingredients">

            </div>
          </div>

          <div class="col-lg-6 menu-item filter-sac">
            <img src="/img/menu/dipboya.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Dip Boyama</a><span>1000TL</span>
            </div>
            <div class="menu-ingredients">

            </div>
          </div>

          <div class="col-lg-6 menu-item filter-makyaj">
            <img src="/img/menu/gelinmakyaj.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Gelin Makyajı</a><span>2000TL</span>
            </div>
            <div class="menu-ingredients">

            </div>
          </div>

          <div class="col-lg-6 menu-item filter-bakim">
            <img src="/img/menu/hydrafacial.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Hydrafacial</a><span>1000TL</span>
            </div>
            <div class="menu-ingredients">

            </div>
          </div>

          <div class="col-lg-6 menu-item filter-makyaj">
            <img src="/img/menu/ipek.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">İpek Kirpik</a><span>1000TL</span>
            </div>
            <div class="menu-ingredients">

            </div>
          </div>

          <div class="col-lg-6 menu-item filter-bakim">
            <img src="/img/menu/kalicioje.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Kalıcı Ojel</a><span>500TL</span>
            </div>
            <div class="menu-ingredients">

            </div>
          </div>

            <div class="col-lg-6 menu-item filter-sac">
            <img src="/img/menu/kaynak.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Kaynak İşlemi(adet)</a><span>70TL</span>
            </div>
            <div class="menu-ingredients">

            </div>
          </div>

            <div class="col-lg-6 menu-item filter-sac">
            <img src="/img/menu/kesim.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Saç Kesimi</a><span>750TL</span>
            </div>
            <div class="menu-ingredients">

            </div>
          </div>

            <div class="col-lg-6 menu-item filter-makyaj">
            <img src="/img/menu/laminasyon.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Kaş Laminasyonu</a><span>1500TL</span>
            </div>
            <div class="menu-ingredients">

            </div>
          </div>

            <div class="col-lg-6 menu-item filter-bakim">
            <img src="/img/menu/lazer.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Lazer(adet)</a><span>1200TL</span>
            </div>
            <div class="menu-ingredients">
            
            </div>
          </div>

            <div class="col-lg-6 menu-item filter-makyaj">
            <img src="/img/menu/lifting.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Kirpik Lifting</a><span>800TL</span>
            </div>
            <div class="menu-ingredients">

            </div>
          </div>

            <div class="col-lg-6 menu-item filter-makyaj">
            <img src="/img/menu/makyaj.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Profesyonel Makyaj</a><span>1000TL</span>
            </div>
            <div class="menu-ingredients">

            </div>
          </div>

                <div class="col-lg-6 menu-item filter-bakim">
                    <img src="/img/menu/manikur.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Manikür</a><span>500TL</span>
                    </div>
                    <div class="menu-ingredients">
                    </div>
                </div>

                  <div class="col-lg-6 menu-item filter-bakim">
            <img src="/img/menu/pedikur.jpg" class="menu-img" alt="">
            <div class="menu-content">
              <a href="#">Pedikür</a><span>500TL</span>
            </div>
            <div class="menu-ingredients">

            </div>
          </div>

                <div class="col-lg-6 menu-item filter-sac">
                    <img src="/img/menu/ombre.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Ombre</a><span>3000TL</span>
                    </div>
                    <div class="menu-ingredients">
   
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-bakim">
                    <img src="/img/menu/procilt.jpg" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">Profesyonel Cilt Bakımı</a><span>2000TL</span>
                    </div>
                    <div class="menu-ingredients">

                    </div>
                </div>

              

        </div>

      </div>
    </section><!-- End Menu Section -->



           
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Galeri</h2>
                <p>İşte Merkezimiz</p>
            </div>
        </div>

        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

            <div class="row g-0">



                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/img/gallery/gallery2.jpg" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="/img/gallery/gallery2.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/img/gallery/gallery3.jpg" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="/img/gallery/gallery3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/img/gallery/gallery4.jpg" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="/img/gallery/gallery4.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/img/gallery/gallery5.jpg" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="/img/gallery/gallery5.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/img/gallery/gallery6.jpg" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="/img/gallery/gallery6.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="/img/gallery/gallery7.jpg" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="/img/gallery/gallery7.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>



            </div>

        </div>
    </section><!-- End Gallery Section -->
    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Çalışanlarımız</h2>
                <p>Profesyonel Çalışanlarımız</p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="100">
                        <img src="/img/chefs/kadin-1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Ecrin Yılmaz</h4>
                                <span>Makyaj Uzmanı</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="100">
                        <img src="/img/chefs/kadin-2.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Beren Su Güzel</h4>
                                <span>Bakım Uzmanı</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="100">
                        <img src="/img/chefs/erkek-1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Cengiz Uygun</h4>
                                <span>Saç Uzmanı</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="100">
                        <img src="/img/chefs/kadin-3.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Asya Oltacı</h4>
                                <span>Bakım Uzmanı</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="100">
                        <img src="/img/chefs/erkek-3.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Efe Kaya</h4>
                                <span>Saç Uzmanı</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="200">
                        <img src="/img/chefs/kadin-4.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Hailey Miller</h4>
                                <span>Makyaj Uzmanı</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </section><!-- End Chefs Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>İletişim</h2>
         
        </div>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Adres:</h4>
                            <p>Akşemsettin, Fevzi Paşa Cd. No:27 K:4, 34080 Fatih/İstanbul</p>
              </div>

             

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>lunaris@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telefon Numarası:</h4>
                            <p>02124172017</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

           
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->