  <!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Hizmetlerimiz</h2>
            <p>Hizmetlerimiz</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-sac">Saç Hizmetleri</li>
                    <li data-filter=".filter-bakim">Bakım Hizmetleri</li>
                    <li data-filter=".filter-makyaj">Makyaj ve Kaş-Kirpik Hizmetleri</li>
                </ul>
            </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-6 menu-item filter-sac">
                <img src="/img/menu/gunluksac.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Günlük Saç Şekillendirme</a><span>500TL</span>
                </div>
                <div class="menu-ingredients">
                    <!--yazı-->
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-sac">
                <img src="/img/menu/balyaj.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Balyaj</a><span>3000TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-sac">
                <img src="/img/menu/brushlight.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Brushlight</a><span>2800TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-bakim">
                <img src="/img/menu/cilt.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Maske</a><span>800TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-sac">
                <img src="/img/menu/dipboya.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Dip Boyama</a><span>1000TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-makyaj">
                <img src="/img/menu/gelinmakyaj.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Gelin Makyajı</a><span>2000TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-bakim">
                <img src="/img/menu/hydrafacial.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Hydrafacial</a><span>1000TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-makyaj">
                <img src="/img/menu/ipek.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">İpek Kirpik</a><span>1000TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-bakim">
                <img src="/img/menu/kalicioje.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Kalıcı Ojel</a><span>500TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-sac">
                <img src="/img/menu/kaynak.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Kaynak İşlemi(adet)</a><span>70TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-sac">
                <img src="/img/menu/kesim.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Saç Kesimi</a><span>750TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-makyaj">
                <img src="/img/menu/laminasyon.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Kaş Laminasyonu</a><span>1500TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-bakim">
                <img src="/img/menu/lazer.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Lazer(adet)</a><span>1200TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-makyaj">
                <img src="/img/menu/lifting.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Kirpik Lifting</a><span>800TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-makyaj">
                <img src="/img/menu/makyaj.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Profesyonel Makyaj</a><span>1000TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-bakim">
                <img src="/img/menu/manikur.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Manikür</a><span>500TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-bakim">
                <img src="/img/menu/pedikur.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Pedikür</a><span>500TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-sac">
                <img src="/img/menu/ombre.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Ombre</a><span>3000TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-bakim">
                <img src="/img/menu/procilt.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Profesyonel Cilt Bakımı</a><span>2000TL</span>
                </div>
                <div class="menu-ingredients">
                </div>
            </div>



        </div>

    </div>
</section><!-- End Menu Section -->
